$color-black-1: #000;
$color-black-2: #050505;
$color-black-3: #141301;

$color-white: #fff;

$color-light-grey-1: #eff0f4;
$color-light-grey-2: #d0d0d0;
$color-light-grey-3: #f8f8f8;
$color-light-grey-4: #F5F5F5;
$color-light-grey-5: #eceff1;

$color-grey-1: #676767;
$color-grey-2: #545454;
$color-grey-3: #343434;

$color-primary-blue: #009FFD;
$color-primary-red: #B80C09;

$color-toolbar-icon: #546E7A;

$alpha: .35;

$default-font-size: 1.6rem;